<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<h1>Welcome to our site!</h1>
<h2>{{ title }}</h2>
<ul>
    <li>
        <a href="{% url 'index' %}">Index</a>
    </li>
    <li>
        <a href="{% url 'cbv index' %}">Index cbv</a>
    </li>
    <li>
        <a href="{% url 'show cats' %}">Cats</a>
    </li>
    <li>
        <a href="{% url 'cbv show cats' %}">Cats cbv</a>
    </li>
    <li>
        <a href="{% url 'cbv create cat' %}">Create cat cbv</a>
    </li>
</ul>
</body>
</html>